* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}



html, body {
    height: 100%;
    font-family: sans-serif;
    line-height: 1.5;
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

ul, ol {
    list-style: none;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
}

p {
    margin: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 0;
    text-align: left;
}

button, input, select, textarea {
    appearance: none;
    border-radius: 0;
    border: 0;
    background: transparent;
}
